@import url(http://allfont.net/allfont.css?fonts=pricedown);
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Secular+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Pricedown', 'Anton';
    background-color: grey;
}

.background {
    background-color: grey;
    height: 100vh;
    padding-top: 1px;   
}

.title {
    color: white;
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 400px;
    max-height: 400px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: red;
}

.playerO {
    color: blue;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset {
    background-color: grey;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 30px;
    margin-left: 20em;
    cursor: pointer;
}

#NextGame {
    background-color: grey;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

#xScore {
    background-color: grey;
    color: white;
    text-align: center;
}

#oScore {
    background-color: grey;
    color: white;
    text-align: center;
}

.counter {
    position: relative;
    font-size: 30px;
    bottom: 80px;
    background-color: grey;
}
